<div class="jumbotron">
  <h2>Welcome to <strong><%= gettext "%{name}", name: "ListenToThis, Very early alpha" %></strong>!</h2>
  <p class="lead">A phoenix application for listening to the listen to me subredit</p>
</div>
